---
layout: base.njk
---

{% include "partials/header.njk" %}
<main>
  <div class="relative container mx-auto top-10 px-4">
    <div class="container sm mx-auto bg-transparent">
      <div class="container mt-40"></div>
      <p class="text-3xl md:text-5xl text-accent text-center my-20">
        Building the next frontier in Computing at Scale
      </p>
      <p class="text-base md:text-2xl text-primary text-left">
        We are bunch of engineers with the collective goal to reinvent
        the fundamentals of building distributed computing systems for the masses.
      </p>
    </div>
  </div>
</main>
