---
layout: base.njk
---

{% include "partials/header.njk" %}
<main>
  <div class="mx-auto w-full h-screen bg-background items-center fixed backdrop-blur-lg">
    <div class="mx-auto w-full h-screen blur-lg" id="particles"></div>
  </div>
  <div class="fixed w-screen px-4">
    <div class="container mx-auto bg-transparent">
      <div class="flex h-screen justify-center items-center">
        <div class="flex flex-col gap-4">
          <p class="text-3xl md:text-6xl lg:text-8xl font-extrabold text-accent text-center">
            Building the next frontier in distributed computing
          </p>
          <p class="text-lg md:text-2xl lg:text-4xl text-primary text-center pt-4"> 
            Software serving at internet scale shouldn't be hard to build
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
