<div class="fixed w-screen z-40 top-0">
  <header class="container mx-auto bg-transparent">
    <div class="flex flex-row my-8 px-4 bg-inherit">
      <div class="basis-1/4 bg-inherit">
        <a href="/">
          <img src="/assets/image/logo/logo-no-background.png" width="200"></img>
        </a>
      </div>
      <div class="basis-1/2 w-full"></div>
      <div class="basis-1/4">
        <a class="tex-md md:text-lg font-bold text-primary uppercase" href="/about">About</a>
      </div>
    </div>
  </header>
</div>
